.main-container {
  display: block;
  width: 100%;
  height: 100%;
}
.display-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.mat-table {
  overflow-y: scroll;
  overflow: auto;
}
